@CHARSET "UTF-8";

.dataElementField {
 margin-right: 10px;
 font-size: 11pt;
 background-color: transparent;
}

.ui-selectonemenu {
 vertical-align: middle;
}

.ui-widget {
 font-size: 11pt;
}

.tooltip {
 font-size: 11pt;
}

.errorText {
 color: rgb(174, 31, 31);
}

.datetimepicker, .datepicker {
 margin-bottom: 0px;
}

.mdrfaces-label {
 font-weight: normal;
}

/* Catalogue select2 styles integration */
span.select2.select2-container.select2-container--default {
 /* similar to form-control */
 display: block;
 width: 100%;
 height: 34px;
 padding: 2px 12px;
 font-size: 14px;
 line-height: 1.42857143;
 color: #555;
 border: 1px solid #ccc;
 border-radius: 4px;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
 -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

span.select2.select2-container.select2-container--open {
 border-color: #66afe9;
 outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

span.select2.select2-container.select2-container--default>span.selection>span, span.select2.select2-container.select2-container--default>span.selection>span:focus
 {
 border: 0px solid;
 background-color: inherit;
 outline: none;
}

table.form-control {
 height: auto;
 padding: 10px 0;
}

table.form-control input[type='radio'] + label, table.form-control input[type='checkbox'] + label {
	margin-left: 0.5em;
}

table.form-control td {
	background-color: #ddd;
}

.inspire-tree .selectedElement {
 font-weight: bold;
 background-color: royalblue;
 color: white;
}

.catalog-control {
 cursor: pointer;
}

.bootstrap-datetimepicker-widget {
 margin: auto;
}

/** SPINNER CREATION **/

.loader {
 position: relative;
 text-align: center;
 margin: 25px auto 25px auto;
 z-index: 9999;
 display: block;
 width: 80px;
 height: 80px;
 border: 10px solid rgba(0, 0, 0, .3);
 border-radius: 50%;
 border-top-color: #000;
 animation: spin 1s ease-in-out infinite;
 -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
 to {
  -webkit-transform: rotate(360deg);
 }
}

@-webkit-keyframes spin {
 to {
  -webkit-transform: rotate(360deg);
 }
}