<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

    <cc:interface>
        <cc:attribute name="mdrId" required="true" />
        <cc:attribute name="oldValue" required="false" />
        <cc:attribute name="ajax" default="true" type="java.lang.Boolean" />
        <cc:attribute name="onlyValidNodesSelectable" type="java.lang.Boolean" default="false"
                      shortDescription="Only applies to catalogs. Catalogs can contain an 'isValid' attribute. It makes sense for EDC components, to not let
                                        a user select something like 'C10' when choosing from an ICD catalog when entering a diagnosis. However, when using the
                                        catalog to perform a search, it is sensible to allow choosing a whole category." />
    </cc:interface>

    <cc:implementation>
        <div class="modal fade catalogue_modal" id="catalogue_modal_#{cc.attrs.mdrId}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="text-align: left;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h4 class="modal-title">#{MdrDataElementBean.getLabelText(cc.attrs.mdrId)}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="#{cc.clientId}_catalogue-data" style="display: none">
                            <ui:fragment rendered="#{not cc.attrs.ajax}">
                                <h:outputText value="#{MdrDataElementBean.getFullCatalogueJson(cc.attrs.mdrId, cc.attrs.oldValue, cc.attrs.onlyValidNodesSelectable)}" />
                            </ui:fragment>
                        </div>

                        <h:inputText pass:placeholder="Suchen" styleClass="#{cc.clientId}_tree-filter" />

                        <div class="#{cc.clientId}_catalogue-tree"/>

                        <h:outputScript>
                            initTree('#{cc.clientId}', '#{cc.attrs.mdrId}', '#{cc.attrs.ajax ? CatalogueSource.getPath() : null}');
                        </h:outputScript>
                    </div>
                </div>
            </div>
        </div>
    </cc:implementation>

</ui:composition>