<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

    <cc:interface>
        <cc:attribute name="oldValue" required="false" />
        <cc:attribute name="onlyValidNodesSelectable" type="java.lang.Boolean" default="false"
                      shortDescription="Only applies to catalogs. Catalogs can contain an 'isValid' attribute. It makes sense for EDC components, to not let
                                        a user select something like 'C10' when choosing from an ICD catalog when entering a diagnosis. However, when using the
                                        catalog to perform a search, it is sensible to allow choosing a whole category." />
    </cc:interface>

    <cc:implementation>
        <div class="modal fade catalogue_modal" id="dynamic_catalogue_modal" data-clientid="#{cc.clientId}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="text-align: left;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <h:panelGroup layout="block"
                                      id="search-div"
                                      styleClass="form-group input-group catalogue-group"
                                      style="width: 100%;">
                            <h:inputText pass:placeholder="Suchen"
                                         id="search-text"
                                         styleClass="form-control catalog-search-text"
                                         value="#{searchTerm}">
                            </h:inputText>
                            <div class="input-group-btn">
                                <h:commandLink styleClass="btn btn-default catalog-search-clear" onclick="$(this).parent().siblings(':input').val('')">
                                    <i class="fa fa-remove text-danger" />
                                    <f:ajax execute="search-text" render="search-text catalogue-searchresults" onevent="handleClear"/>
                                </h:commandLink>
                                <h:panelGroup styleClass="btn btn-default catalog-control catalogue-filter">
                                    <i class="fa fa-search" />
                                </h:panelGroup>
                            </div>
                        </h:panelGroup>

                        <div class="loader"></div>

                            <div class="catalogue-tree" style="#{empty searchTerm ? '' : 'display: none;'}"/>

                            <h:panelGroup layout="block" id="catalogue-searchresults" styleClass="catalogue-searchresults">
                                <div class="catalogue-searchresults" style="#{empty searchTerm ? 'display: none;' : ''}">
                                    <div class="catalogue-tree-filtered"/>
                                </div>
                            </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
    </cc:implementation>

</ui:composition>