<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <cc:interface name="fieldwithLabel">
        <cc:attribute name="includeLabel" type="java.lang.Boolean" required="false" default="true"/>
        <cc:attribute name="includeInput" type="java.lang.Boolean" required="false" default="true"/>
        <cc:attribute name="mdrId" required="true" displayName="mdrId"/>
        <cc:attribute name="value" required="false" displayName="value"/>
        <cc:attribute name="size" required="false" displayName="size"/>
        <cc:attribute name="labelStyleClass" required="false" displayName="labelStyleClass" default="mdrfaces-label"/>
        <cc:attribute name="inputStyleClass" required="false" displayName="inputStyleClass" default="mdrfaces-input"/>
        <cc:attribute name="converter" required="false" displayName="converter"/>
        <cc:attribute name="converterMessage" required="false" displayName="converterMessage"/>
        <cc:attribute name="required" required="false" displayName="required"/>
        <cc:attribute name="requiredMessage" required="false" displayName="requiredMessage"/>
        <cc:attribute name="errorMessageStyleClass" required="false" default="errorText"/>
        <cc:attribute name="labelId" required="false" default="outputLabel"/>
        <cc:attribute name="inputId" required="false"/>
        <cc:attribute name="inputType" required="false" displayName="inputType" />
        <cc:attribute name="useDynamicCatalogues" default="false" required="false" />
        <cc:attribute name="ajaxCatalogues" required="false" default="true" type="java.lang.Boolean" />
        <cc:attribute name="omitCatalogueModal" type="java.lang.Boolean" required="false" default="false"
                      shortDescription="For repeatable elements and records, it is detrimental to add the modal to EACH input field.
                                        Instead the calling application can include the modal ONCE, but has to take care of this itself.
                                        TODO: add components for 'single field' and 'repeatable dataelement' and take care of this issue in mdrfaces." />
        <cc:attribute name="disableValidation" default="false" />
        <cc:attribute name="onlyValidNodesSelectable" type="java.lang.Boolean" default="false"
                      shortDescription="Only applies to catalogs. Catalogs can contain an 'isValid' attribute. It makes sense for EDC components, to not let
                                        a user select something like 'C10' when choosing from an ICD catalog when entering a diagnosis. However, when using the
                                        catalog to perform a search, it is sensible to allow choosing a whole category." />
        <cc:attribute name="useSortOrder" type="java.lang.Boolean" required="false" default="false"/>
        <cc:attribute name="option" required="false"/>
    </cc:interface>

    <cc:implementation>

        <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
        <h:outputStylesheet name="webjars/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css"
                            target="head"/>
        <h:outputStylesheet
                name="webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" target="head"/>
        <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.css"/>
        <h:outputStylesheet name="css/inspire-tree-light.css" target="head"/>
        <h:outputStylesheet name="css/mdrStyles.css" target="head"/>
        <h:outputScript name="js/mdrfaces.js" target="head"/>

        <o:importConstants type="de.samply.web.enums.EnumInputType" />
        <o:importConstants type="de.samply.web.enums.EnumRenderType" />

        <ui:param name="renderedInputId"
                  value="#{MdrDataElementBean.getRenderedInputId(cc.attrs.mdrId, cc.attrs.inputId)}"/>

        <ui:param name="renderedInputType" value="#{MdrDataElementBean.renderedInputType(cc.attrs.mdrId)}" />
        <ui:param name="renderType" value="#{MdrDataElementBean.getRenderType(cc.attrs.mdrId)}" />

            <ui:fragment rendered="#{cc.attrs.includeLabel}">
                <h:outputLabel value="#{MdrDataElementBean.getLabelText(cc.attrs.mdrId)}" id="#{cc.attrs.labelId}"
                               styleClass="dataElementField hasTooltip #{cc.attrs.labelStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                               title="#{MdrDataElementBean.labelTooltipText}"
                               for="#{renderedInputId}">
                </h:outputLabel>
            </ui:fragment>

            <!-- input options -->
            <ui:fragment rendered="#{cc.attrs.includeInput}">

                <ui:fragment rendered="#{renderedInputType eq EnumInputType.TEXT}">
                    <ui:param name="unitOfMeasure" value="#{MdrDataElementBean.getUnitOfMeasure(cc.attrs.mdrId)}" />

                    <c:if test="#{not empty unitOfMeasure}">
                        <h:panelGroup class="form-group input-group">
                            <h:inputText id="#{MdrDataElementBean.getInputTextId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                         value="#{cc.attrs.value}" size="#{cc.attrs.size}"
                                         styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                         data-toggle="tooltip" data-placement="bottom"
                                         title="#{MdrDataElementBean.getInputTooltipText()}"
                                         converter="#{cc.attrs.converter}"
                                         converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                         requiredMessage="#{cc.attrs.requiredMessage}" rendered="#{renderType eq EnumRenderType.INPUT_TYPE_TEXT}">
                                <f:validator validatorId="IntegerValidator"
                                             disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="FloatValidator"
                                             disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="IntegerRangeValidator"
                                             disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="FloatRangeValidator"
                                             disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="MdrRegexValidator"
                                             disabled="#{ValidationBean.disableRegexValidation(cc.attrs.mdrId)}"/>
                                <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                                <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}"/>
                                <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                                	<f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                                		value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                                </c:forEach>
                                <c:if test="#{!ValidationBean.disableFloatValidation(cc.attrs.mdrId)}">
                                    <f:passThroughAttribute name="onchange" value="convertDecimalSeparator(this);" />
                                </c:if>
                            </h:inputText>
                            <h:inputTextarea id="#{MdrDataElementBean.getInputTextAreaId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                         value="#{cc.attrs.value}" size="#{cc.attrs.size}"
                                         styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                         data-toggle="tooltip" data-placement="bottom"
                                         title="#{MdrDataElementBean.getInputTooltipText()}"
                                         converter="#{cc.attrs.converter}"
                                         converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                         requiredMessage="#{cc.attrs.requiredMessage}" rendered="#{renderType eq EnumRenderType.TEXTAREA}">
                                <f:validator validatorId="IntegerValidator"
                                             disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="FloatValidator"
                                             disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="IntegerRangeValidator"
                                             disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="FloatRangeValidator"
                                             disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                                <f:validator validatorId="MdrRegexValidator"
                                             disabled="#{ValidationBean.disableRegexValidation(cc.attrs.mdrId)}"/>
                                <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                                <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}"/>
                                <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                                    <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                                                            value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                                </c:forEach>
                                <c:if test="#{!ValidationBean.disableFloatValidation(cc.attrs.mdrId)}">
                                    <f:passThroughAttribute name="onchange" value="convertDecimalSeparator(this);" />
                                </c:if>
                            </h:inputTextarea>
                            <span class="input-group-addon input-unit-addon">#{unitOfMeasure}</span>
                        </h:panelGroup>
                    </c:if>

                    <c:if test="#{empty unitOfMeasure}">
                        <h:inputText id="#{MdrDataElementBean.getInputTextId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                     value="#{cc.attrs.value}" size="#{cc.attrs.size}"
                                     styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                     data-toggle="tooltip" data-placement="bottom"
                                     title="#{MdrDataElementBean.getInputTooltipText()}"
                                     converter="#{cc.attrs.converter}"
                                     converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                     requiredMessage="#{cc.attrs.requiredMessage}" rendered="#{renderType eq EnumRenderType.INPUT_TYPE_TEXT}">
                            <f:validator validatorId="IntegerValidator"
                                         disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="FloatValidator"
                                         disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="IntegerRangeValidator"
                                         disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="FloatRangeValidator"
                                         disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="MdrRegexValidator"
                                         disabled="#{ValidationBean.disableRegexValidation(cc.attrs.mdrId)}"/>
                            <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                            <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}"/>
                            <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                              	<f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                              		value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                            </c:forEach>
                            <c:if test="#{!ValidationBean.disableFloatValidation(cc.attrs.mdrId)}">
                                <f:passThroughAttribute name="onchange" value="convertDecimalSeparator(this);" />
                            </c:if>
                        </h:inputText>
                        <h:inputTextarea id="#{MdrDataElementBean.getInputTextAreaId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                     value="#{cc.attrs.value}" size="#{cc.attrs.size}"
                                     styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                     data-toggle="tooltip" data-placement="bottom"
                                     title="#{MdrDataElementBean.getInputTooltipText()}"
                                     converter="#{cc.attrs.converter}"
                                     converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                     requiredMessage="#{cc.attrs.requiredMessage}" rendered="#{renderType eq EnumRenderType.TEXTAREA}">
                            <f:validator validatorId="IntegerValidator"
                                         disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="FloatValidator"
                                         disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="IntegerRangeValidator"
                                         disabled="#{ValidationBean.disableIntegerValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="FloatRangeValidator"
                                         disabled="#{ValidationBean.disableFloatValidation(cc.attrs.mdrId)}"/>
                            <f:validator validatorId="MdrRegexValidator"
                                         disabled="#{ValidationBean.disableRegexValidation(cc.attrs.mdrId)}"/>
                            <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                            <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}"/>
                            <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                                <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                                                        value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                            </c:forEach>
                            <c:if test="#{!ValidationBean.disableFloatValidation(cc.attrs.mdrId)}">
                                <f:passThroughAttribute name="onchange" value="convertDecimalSeparator(this);" />
                            </c:if>
                        </h:inputTextarea>
                    </c:if>

                </ui:fragment>

                <h:panelGroup class="form-group input-group date datepicker"
                              rendered="#{renderedInputType eq EnumInputType.DATE}" layout="block">
                    <h:inputText id="#{MdrDataElementBean.getInputDateId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                 value="#{cc.attrs.value}"
                                 showOn="button" size="#{cc.attrs.size}"
                                 styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                 title="#{MdrDataElementBean.getInputTooltipText()}" converter="#{cc.attrs.converter}"
                                 converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                 requiredMessage="#{cc.attrs.requiredMessage}">
                        <f:validator validatorId="DateValidator" disabled="#{cc.attrs.disableValidation}" />
                        <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                        <f:passThroughAttribute name="data-date-format"
                                                value="#{ValidationBean.getDateFormat(cc.attrs.mdrId)}"/>
                        <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                            	value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                        </c:forEach>
                    </h:inputText>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <h:outputScript>
                        reinitDatepickers('#{MdrDataElementBean.getLanguageCode()}');
                    </h:outputScript>
                </h:panelGroup>

                <h:panelGroup styleClass="form-group input-group date datetimepicker"
                              rendered="#{renderedInputType eq EnumInputType.DATETIME}"
                              layout="block">
                    <h:inputText id="#{MdrDataElementBean.getInputDateTimeId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                 value="#{cc.attrs.value}"
                                 showOn="button" size="#{cc.attrs.size}"
                                 styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                 title="#{MdrDataElementBean.getInputTooltipText()}" converter="#{cc.attrs.converter}"
                                 converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                 requiredMessage="#{cc.attrs.requiredMessage}">
                        <f:validator validatorId="DateTimeValidator" disabled="#{cc.attrs.disableValidation}" />
                        <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                        <f:passThroughAttribute name="data-date-locale" value="#{ValidationBean.getDatetimeLocale()}"/>
                        <f:passThroughAttribute name="data-date-format"
                                                value="#{ValidationBean.getDatetimeFormat(cc.attrs.mdrId)}"/>
                        <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                            	value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                        </c:forEach>
                    </h:inputText>
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    <h:outputScript>
                        reinitDatepickers('#{MdrDataElementBean.getLanguageCode()}');
                    </h:outputScript>
                </h:panelGroup>

                <h:panelGroup rendered="#{renderedInputType eq EnumInputType.TIME}" layout="block"
                              styleClass="form-group input-group date datetimepicker">
                    <h:inputText id="#{MdrDataElementBean.getInputTimeId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                 value="#{cc.attrs.value}"
                                 showOn="button" size="#{cc.attrs.size}"
                                 styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                 title="#{MdrDataElementBean.getInputTooltipText()}" converter="#{cc.attrs.converter}"
                                 converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                 requiredMessage="#{cc.attrs.requiredMessage}">
                        <f:validator validatorId="TimeValidator" disabled="#{cc.attrs.disableValidation}"/>
                        <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                        <f:passThroughAttribute name="data-date-language" value="#{ValidationBean.getDatetimeLocale()}"/>
                        <f:passThroughAttribute name="data-date-format"
                                                value="#{ValidationBean.getTimeFormat(cc.attrs.mdrId)}"/>
                        <f:passThroughAttribute name="data-date-useSeconds"
                                                value="#{ValidationBean.showSeconds(cc.attrs.mdrId)}"/>
                        <f:passThroughAttribute name="data-date-pickDate" value="false"/>
                        <ui:fragment rendered="#{not empty cc.attrs.datepickerWidgetParent}">
                            <f:passThroughAttribute name="data-date-widgetParent" value="#{cc.attrs.datepickerWidgetParent}" />
                        </ui:fragment>
                        <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                            	value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                        </c:forEach>
                    </h:inputText>
                    <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
                    <h:outputScript>
                        reinitDatepickers('#{MdrDataElementBean.getLanguageCode()}');
                    </h:outputScript>
                </h:panelGroup>

                <ui:fragment rendered="#{renderedInputType eq EnumInputType.SELECTONE}">
                    <ui:param name="selectOneType"
                              value="#{empty cc.attrs.inputType ? MdrDataElementBean.getInputType(cc.attrs.mdrId) : cc.attrs.inputType}" />

                    <h:selectOneMenu id="#{MdrDataElementBean.getInputSelectOneId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                     value="#{cc.attrs.value}" styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                     rendered="#{empty selectOneType or selectOneType == 'SELECT_ONE_MENU'}"
                                     title="#{MdrDataElementBean.getInputTooltipText()}" converter="#{cc.attrs.converter}"
                                     converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                     requiredMessage="#{cc.attrs.requiredMessage}">
                        <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                            	value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                        </c:forEach>
                        <f:selectItems value="#{MdrDataElementBean.getSelectItems(cc.attrs.mdrId, true, cc.attrs.useSortOrder, cc.attrs.option)}" var="item"
                                       itemLabel="#{item.meanings[0].designation}" itemValue="#{item.value}"/>
                    </h:selectOneMenu>

                    <h:selectOneRadio id="inputSelectOneRadio" value="#{cc.attrs.value}"
                                      styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                      rendered="#{selectOneType == 'SELECT_ONE_RADIO'}"
                                      title="#{MdrDataElementBean.getInputTooltipText()}" converter="#{cc.attrs.converter}"
                                      converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                      requiredMessage="#{cc.attrs.requiredMessage}" layout="pageDirection">
                        <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                            	value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                        </c:forEach>
                        <f:selectItems value="#{MdrDataElementBean.getSelectItems(cc.attrs.mdrId, !cc.attrs.required, cc.attrs.useSortOrder, cc.attrs.option)}"
                                       var="item"
                                       itemLabel="#{item.meanings[0].designation}" itemValue="#{item.value}"/>
                    </h:selectOneRadio>
                    <h:message for="inputSelectOneRadio" styleClass="#{cc.attrs.errorMessageStyleClass}"/>

                    <h:selectManyCheckbox id="inputSelectManyCheckbox" value="#{cc.attrs.value}"
                                          styleClass="form-control hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                          rendered="#{selectOneType == 'SELECT_MANY_CHECKBOX'}"
                                          title="#{MdrDataElementBean.getInputTooltipText()}" converter="#{cc.attrs.converter}"
                                          converterMessage="#{cc.attrs.converterMessage}" required="#{cc.attrs.required}"
                                          requiredMessage="#{cc.attrs.requiredMessage}" layout="pageDirection">
                        <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                                                    value="#{MdrDataElementBean.escapeAttributeValue(MdrDataElementBean.escapeAttributeValue(slot.slotValue))}"/>
                        </c:forEach>
                        <f:selectItems value="#{MdrDataElementBean.getSelectItems(cc.attrs.mdrId, false, cc.attrs.useSortOrder, cc.attrs.option)}" var="item"
                                       itemLabel="#{item.meanings[0].designation}" itemValue="#{item.value}"/>
                    </h:selectManyCheckbox>
                    <h:message for="inputSelectManyCheckbox" styleClass="#{cc.attrs.errorMessageStyleClass}"/>
                </ui:fragment>

                <h:panelGroup rendered="#{renderedInputType eq EnumInputType.BOOLEAN}" layout="block"
                              styleClass="checkbox">
                    <label> <h:selectBooleanCheckbox
                            id="#{MdrDataElementBean.getInputBooleanId(cc.attrs.mdrId, cc.attrs.inputId)}"
                            value="#{cc.attrs.value}"
                            styleClass="mdrCheckbox hasTooltip #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                            title="#{MdrDataElementBean.getInputTooltipText()}">
                        <f:passThroughAttribute name="data-indeterminate"
                                                value="#{empty cc.attrs.value ? 'true' : 'false'}"/>
                        <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}"
                            	value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
                        </c:forEach>
                    </h:selectBooleanCheckbox> &#xA0;
                    </label>
                </h:panelGroup>

                <h:panelGroup rendered="#{renderedInputType eq EnumInputType.CATALOGUE}" layout="block"
                              styleClass="form-group input-group catalogue-group" style="width: 100%;">
                    <c:if test="#{cc.attrs.useDynamicCatalogues and MdrUtils.supportsDynamicCatalogues(cc.attrs.mdrId)}">
                        <h:inputText id="#{MdrDataElementBean.getInputCatalogueId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                     value="#{cc.attrs.value}"
                                     styleClass="form-control hasTooltip #{cc.clientId}_catalogueSelection catalogueSelection #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                     converter="#{cc.attrs.converter}"
                                     converterMessage="#{cc.attrs.converterMessage}"
                                     required="#{cc.attrs.required}"
                                     requiredMessage="#{cc.attrs.requiredMessage}">
                            <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                            <f:passThroughAttribute name="data-mdrid" value="#{cc.attrs.mdrId}" />
	                        <c:forEach var="slot" items="#{MdrDataElementBean.getSlots(cc.attrs.mdrId)}">
	                            <f:passThroughAttribute name="data-slot-#{MdrDataElementBean.escapeAttributeName(slot.slotName)}" 
	                            	value="#{MdrDataElementBean.escapeAttributeValue(slot.slotValue)}"/>
	                        </c:forEach>
                            <f:passThroughAttribute name="data-labeltext" value="#{MdrDataElementBean.getLabelText(cc.attrs.mdrId)}" />
                            <f:passThroughAttribute name="data-catalogue_source" value="#{CatalogueSource.getPath()}" />
                            <f:passThroughAttribute name="data-catalogue_trigger" value="#{cc.clientId}" />
                            <f:passThroughAttribute name="data-only_valid_nodes_selectable" value="#{cc.attrs.onlyValidNodesSelectable}" />
                        </h:inputText>
                        <span class="input-group-addon catalog-control browse-catalog" data-toggle="modal" data-target="#dynamic_catalogue_modal" data-backdrop="false">
                            <a href="#" >
                                <i class="fa fa-folder-open-o" />
                            </a>
                        </span>
                        <span class="input-group-addon catalog-control clear-selection"><i class="fa fa-remove text-danger" /></span>
                    </c:if>

                    <c:if test="#{!cc.attrs.useDynamicCatalogues or !MdrUtils.supportsDynamicCatalogues(cc.attrs.mdrId)}">
                        <h:inputText id="#{MdrDataElementBean.getInputCatalogueId(cc.attrs.mdrId, cc.attrs.inputId)}"
                                     value="#{cc.attrs.value}"
                                     styleClass="form-control hasTooltip #{cc.clientId}_catalogueSelection catalogueSelection #{cc.attrs.inputStyleClass}#{cc.attrs.required eq true ? ' isRequired' : ''}"
                                     converter="#{cc.attrs.converter}"
                                     converterMessage="#{cc.attrs.converterMessage}"
                                     required="#{cc.attrs.required}"
                                     requiredMessage="#{cc.attrs.requiredMessage}">
                            <f:attribute name="mdrId" value="#{cc.attrs.mdrId}"/>
                            <f:passThroughAttribute name="data-mdrId" value="#{cc.attrs.mdrId}" />
                            <f:passThroughAttribute name="data-catalogueTrigger" value="#{cc.clientId}" />
                            <f:passThroughAttribute name="data-onlyValidNodesSelectable" value="#{cc.attrs.onlyValidNodesSelectable}" />
                        </h:inputText>
                        <span class="input-group-addon catalog-control browse-full-catalog">
                            <a href="#" >
                                <i class="fa fa-folder-open-o" />
                            </a>
                        </span>
                        <span class="input-group-addon catalog-control clear-selection"><i class="fa fa-remove text-danger" /></span>
                        <ui:fragment rendered="#{not cc.attrs.omitCatalogueModal}">
                            <mf:catalogueModal mdrId="#{cc.attrs.mdrId}"
                                               oldValue="#{cc.attrs.value}"
                                               ajax="#{cc.attrs.ajaxCatalogues}"
                                               onlyValidNodesSelectable="#{cc.attrs.onlyValidNodesSelectable}"/>
                        </ui:fragment>
                    </c:if>
                </h:panelGroup>
                <h:message for="#{renderedInputId}" styleClass="#{cc.attrs.errorMessageStyleClass}"/>

                <h:outputScript name="js/global.js" target="head"/>
                <h:outputScript name="webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
                                target="head"/>
                <h:outputScript name="webjars/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js" target="head"/>
                <h:outputScript name="webjars/lodash/4.17.4/lodash.min.js" target="head" />
                <h:outputScript name="js/inspire-tree.min.js" target="head" />
                <h:outputScript name="js/inspire-tree-dom.min.js" target="head" />
                <h:outputScript name="js/catalog-tree.js" target="head" />
            </ui:fragment>

    </cc:implementation>

</ui:composition>
