<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces">

    <cc:interface name="fieldwithLabel">
        <cc:attribute name="mdrId" required="true"/>
        <cc:attribute name="value" required="false"/>
        <cc:attribute name="styleClass" required="false" default="mdrfaces-input"/>
        <cc:attribute name="size" required="false"/>
        <cc:attribute name="converter" required="false"/>
        <cc:attribute name="converterMessage" required="false"/>
        <cc:attribute name="required" required="false"/>
        <cc:attribute name="requiredMessage" required="false"/>
        <cc:attribute name="errorMessageStyleClass" required="false" default="errorText"/>
        <cc:attribute name="inputId" required="false"/>
        <cc:attribute name="inputType" required="false" displayName="inputType" />
        <cc:attribute name="useDynamicCatalogues" default="false" required="false" />
        <cc:attribute name="ajaxCatalogues" required="false" default="true" type="java.lang.Boolean" />
        <cc:attribute name="omitCatalogueModal" type="java.lang.Boolean" required="false" default="false"
                      shortDescription="For repeatable elements and records, it is detrimental to add the modal to EACH input field.
                                        Instead the calling application can include the modal ONCE, but has to take care of this itself.
                                        TODO: add components for 'single field' and 'repeatable dataelement' and take care of this issue in mdrfaces." />
        <cc:attribute name="disableValidation" default="false" />
        <cc:attribute name="onlyValidNodesSelectable" type="java.lang.Boolean" default="false"
                      shortDescription="Only applies to catalogs. Catalogs can contain an 'isValid' attribute. It makes sense for EDC components, to not let
                                        a user select something like 'C10' when choosing from an ICD catalog when entering a diagnosis. However, when using the
                                        catalog to perform a search, it is sensible to allow choosing a whole category."/>
        <cc:attribute name="useSortOrder" type="java.lang.Boolean" required="false" default="false"/>
        <cc:attribute name="option" required="false"/>
    </cc:interface>

    <cc:implementation>

        <mf:formMdrField mdrId="#{cc.attrs.mdrId}" includeInput="true" includeLabel="false" value="#{cc.attrs.value}"
                         inputStyleClass="#{cc.attrs.styleClass}"
                         size="#{cc.attrs.size}" converter="#{cc.attrs.converter}"
                         converterMessage="#{cc.attrs.converterMessage}"
                         required="#{cc.attrs.required}" requiredMessage="#{cc.attrs.requiredMessage}"
                         errorMessageStyleClass="#{cc.attrs.errorMessageStyleClass}"
                         inputId="#{cc.attrs.inputId}" inputType="#{cc.attrs.inputType}"
                         useDynamicCatalogues="#{cc.attrs.useDynamicCatalogues}"
                         ajaxCatalogues="#{cc.attrs.ajaxCatalogues}"
                         omitCatalogueModal="#{cc.attrs.omitCatalogueModal}"
                         disableValidation="#{cc.attrs.disableValidation}"
                         onlyValidNodesSelectable="#{cc.attrs.onlyValidNodesSelectable}"
                         useSortOrder="#{cc.attrs.useSortOrder}"
                         option="#{cc.attrs.option}"
        />

    </cc:implementation>
</ui:composition>