<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces">

    <cc:interface>
        <cc:attribute name="recordUrn" required="true" />
        <cc:attribute name="contextClass" default="panel-default" />
        <cc:attribute name="value" required="false"/>
        <cc:attribute name="labelClasses" required="false" default="col-sm-4 col-md-3" />
        <cc:attribute name="inputClasses" required="false" default="col-sm-4 col-md-9" />
        <cc:attribute name="showDeleteActionColumn" default="true" />
        <cc:facet name="customHeader" required="false" />
        <cc:facet name="addActionButtons" required="false" />
        <cc:facet name="footerContent" required="false" />
    </cc:interface>

    <cc:implementation>
        <ui:param name="recordUrnEscaped" value="#{fn:replace(cc.attrs.recordUrn, ':', '__')}" />
        <ui:param name="recordMembers" value="#{MdrDataElementBean.getRecordMembers(cc.attrs.recordUrn)}" />

        <div class="panel unterabschnitt #{cc.attrs.contextClass}">

            <!-- Heading: By default just print the name of the record. Can be overridden via facet
             to include user-defined information in the record header -->
            <div class="panel-heading">
                <ui:fragment rendered="#{empty cc.facets.customHeader}">
                    <h3 class="panel-title">
                        <!--<h:outputText value="#{MdrDataElementBean.getLabelText(cc.attrs.recordUrn)}"/>-->
                        <mf:mdrRecordHeader mdrId="#{cc.attrs.recordUrn}" />
                    </h3>
                </ui:fragment>
                <ui:fragment rendered="#{not empty cc.facets.customHeader}">
                    <cc:renderFacet name="customHeader" />
                </ui:fragment>
            </div>

            <div class="panel-body">
                <h:panelGroup layout="block" id="#{recordUrnEscaped}_surrounder">

                    <h:dataTable var="row"
                                 value="#{cc.attrs.value.rows}"
                                 id="#{recordUrnEscaped}"
                                 styleClass="#{recordUrnEscaped} recordTable#{empty value.rows?' empty':''}">

                        <!--why c:forEach? => https://stackoverflow.com/questions/25724111/how-to-use-uirepeat-in-datatable-to-append-columns-->
                        <c:forEach items="#{recordMembers}" var="mdrUrn">
                            <h:column>
                                <f:facet name="header">
                                    <mf:mdrLabel mdrId="#{mdrUrn}" />
                                    <h:panelGroup styleClass="mdrDataType" style="display:none">TEXT</h:panelGroup>
                                </f:facet>
                                <mf:mdrInput required="false"
                                             styleClass="#{!component.valid ? 'error':''}"
                                             mdrId="#{mdrUrn}"
                                             value="#{row.columns[fn:replace(mdrUrn, ':', '__')]}" />
                            </h:column>
                        </c:forEach>

                        <ui:fragment rendered="#{cc.attrs.showDeleteActionColumn}">
                            <h:column>
                                <f:facet name="header">#{msg.datatable_actionheader}</f:facet>
                                    <h:commandLink action="#{formviewer.deleteAction(recordUrnEscaped, row)}">
                                        <f:ajax execute="#{recordUrnEscaped}"
                                                onevent="function(data) { reRenderTableSurrounder(data, '#{recordUrnEscaped}') }"/>
                                        <f:param name="disableValidation" value="true"/>
                                        <span class="fa fa-trash-o"/>
                                    </h:commandLink>
                            </h:column>
                        </ui:fragment>

                        <f:facet name="footer">
                            <h:outputText value="#{msg.datatable_isempty}" styleClass="someStyleClass"
                                          rendered="#{empty cc.attrs.value.rows}"/>
                        </f:facet>
                    </h:dataTable>

                    <!-- The button to add a new row -->
                    <ui:fragment rendered="#{not empty cc.facets.addActionButtons}">
                        <cc:renderFacet name="addActionButtons" />
                    </ui:fragment>

                </h:panelGroup>
            </div>

            <!-- Optional footer -->
            <ui:fragment rendered="#{not empty cc.facets.footerContent}">
                <div class="panel-footer">
                    <cc:renderFacet name="footerContent" />
                </div>
            </ui:fragment>
        </div>
    </cc:implementation>
</ui:composition>